body
{
	background-color: DarkKhaki;
}

#background
{
	margin:170px;
	background-color: lightgrey;
}

.a
{
	font-size:10px;
	padding:5px;
	text-align:right;
}

#StudentDivDis
{
  	border : solid 2px;
 	padding: 10px;
 	text-align: center;
}

#DisplayInsDelUpdate
{
 	border : solid 2px;
  	padding: 10px;
  	text-align: center;
}

#StudentDivIns
{
  	border : solid 2px;
  	padding: 10px;
  	text-align: center;
}

#StudentDivDel
{
  	border : solid 2px;
  	padding: 10px;
  	text-align: center;
}

#StudentDivUpdate
{
  	border : solid 2px;
  	padding: 10px;
  	text-align: center;
}

#StudentUpdateFill
{
	border : solid 2px;
	padding: 10px;
	text-align: center;
}

#Menu
{
	border : solid 2px;
	padding: 10px;
	text-align: center;
}

button
{
	padding:5px;
}

#header1
{
	text-align:center;
}

footer
{
	text-align:right;
}